<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h2 class="mb-3">깃허브</h2>
      <P>이 사이트는 <a href="https://github.com/kkupalro/board">https://github.com/kkupalro/board</a>에서 작성되었습니다!</p>
    </div>
  </body>
</html>
